argparse==1.4.0
torch==1.7.1
easydict==1.13
h5py==3.8.0
matplotlib==3.5.3
numpy==1.21.5
open3d==0.9.0.0
opencv-python==4.10.0.84
pyyaml==6.0.1
scipy==1.7.3
tensorboardX==2.6.2.2
timm==0.4.5
tqdm==4.66.4
transforms3d==0.4.2
termcolor==2.3.0
